@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/cuprum.woff2') format('woff2'), url('../fonts/cuprum.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum Bold';
	src: url('../fonts/cuprumbold.woff2') format('woff2'), url('../fonts/cuprumbold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum Italic';
	src: url('../fonts/cuprumitalic.woff2') format('woff2'), url('../fonts/cuprumitalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT sans';
	src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT sans Bold';
	src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 24px;
	background-color: white;
	font-weight: 400
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none
}

img {
	max-width: 100%;
	height: auto;
}


/* начало шапки */

.logo-but {
	height: 42px;
	-webkit-box-shadow: 0 5px 0 rgb(181, 41, 51);
	box-shadow: 0 5px 0 rgb(181, 41, 51);
}

.search-focus {
	background: white
}

.search-focus-field {
	color: black
}

.header-top {
	line-height: 18px;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 42px;
	position: relative;
}

.header-top-wrap {
	background-color: #293449;
	width: 100%
}

.container {
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.header-top .header-bookmark,
.header-top .header-cart,
.header-top .header-button {
	color: white;
	padding-top: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 150px;
	white-space: nowrap;
}

.header-button {
	background-color: #63A63E;
	padding-bottom: 12px;
	text-align: center
}

.header-button:hover {
	background-color: #5FBB2D
}

.header-button:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.logo {
	background-color: #EE3643;
	padding-left: 55px;
	padding-top: 12px;
	padding-right: 57px;
	padding-bottom: 12px;
	width: 108px;
	height: 18px;
}

.logo:hover {
	background-color: #CA2C37;
	-webkit-box-shadow: 0 5px 0 #992129;
	box-shadow: 0 5px 0 #992129;
}

.logo:active {
	background-color: #BA2732;
	-webkit-box-shadow: 0 5px 0 #8D1D26;
	box-shadow: 0 5px 0 #8D1D26;
}

.search {
	width: 270px;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.search label {
	padding-left: 49px;
	padding-top: 11px;
	display: block;
}

.search input {
	background-color: transparent;
	border: none;
	color: white
}

.search button {
	position: absolute;
	left: 16px;
	top: 11px;
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	border: 0;
}

.search-but {
	background-image: url("../img/icon-search.svg");
	opacity: 0.3
}

.search-but-foc {
	background-image: url("../img/icon-search-red.png");
	opacity: 1
}

.search input:focus {
	background-color: white;
	color: black;
}

.search input::-webkit-input-placeholder {
	color: white
}

.search input:-ms-input-placeholder {
	color: white
}

.search input::-ms-input-placeholder {
	color: white
}

.search input::placeholder {
	color: white
}

.header-top .header-bookmark:hover::before,
.header-top .header-cart:hover::before,
.search:hover button {
	opacity: 1
}

.header-top .header-bookmark:active::before {
	opacity: 0.5
}

.header-top .header-cart:active::before {
	opacity: 0.5
}

.search-hov:hover,
.header-top .header-bookmark:hover,
.header-top .header-cart:hover {
	background-color: #212A3A;
}

.header-top .header-bookmark:active,
.header-top .header-cart:active {
	background-color: #161D29;
	color: rgba(255, 255, 255, 0.6);
}

.header-top .header-bookmark {
	padding-left: 44px;
	padding-right: 27px;
	position: relative;
}

.header-top .header-bookmark:before {
	position: absolute;
	left: 15px;
	width: 17px;
	height: 17px;
	content: "";
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3
}

.header-top .header-cart {
	padding-left: 50px;
	padding-right: 29px;
	position: relative;
}

.header-top .header-cart:before {
	position: absolute;
	left: 18px;
	width: 15px;
	height: 15px;
	content: "";
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3
}

.header-bottom {
	background-color: #F4F7F8;
	padding-bottom: 63px
}

.upper-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 158px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.header-bottom h1 {
	font-family: "Cuprum Italic", Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #EE3643;
	width: 300px;
	padding-left: 52px;
	margin-top: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.header-bottom-contacts {
	width: 300px;
	margin-top: 44px;
	margin-right: 13px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.login {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 19px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 47px;
	margin-left: 20px;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.login-in {
	padding-left: 48px;
	padding-top: 11px;
	padding-right: 24px;
	padding-bottom: 13px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 121px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.login-in:hover .login-svg path {
	fill: #32425C
}

.login-in:active .login-svg path {
	fill: #c5c5c5
}

.login-svg {
	position: absolute;
	left: 13px
}

.registration {
	margin-left: 10px;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-left: 25px;
	padding-right: 25px
}

.header-phone {
	position: relative;
	color: #EE3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid white;
	padding-left: 70px;
	padding-top: 11px;
	padding-right: 46px;
	padding-bottom: 8px;
}

.header-phone:before {
	position: absolute;
	left: 8px;
	width: 19px;
	height: 19px;
	content: "";
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-address {
	color: #32425C;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin: 0;
	margin-top: 4px;
}

.login a {
	background-color: white;
	font-size: 21px;
	line-height: 21px;
	color: black
}

.login a:hover {
	color: #EE3643
}

.login a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0 33px 0 33px;
	background-color: #32425C;
}

.login li,
.site-nav li {
	list-style-type: none;
}

.site-nav-wrap {
	width: 100%
}

.site-nav a {
	font-size: 17px;
	line-height: 17px;
	color: white;
	display: block;
	padding: 20px 19px;
	vertical-align: middle;
}

.site-nav a:hover {
	background-color: #293449;
}

.site-nav a:active {
	background-color: #1D2739;
	color: rgba(255, 255, 255, 0.5);
}

.cart-active {
	background: #EE3643
}

.profile {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 45px;
	margin-left: 14px;
}

.user-wrapper {
	width: 300px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 45px;
	padding-left: 13px;
	padding-right: 10px;
	position: relative;
}

.user-wrapper a {
	font-size: 21px;
	color: #000000;
	line-height: 21px;
}

.username svg {
	margin-right: 9px;
}

.logout {
	position: absolute;
	margin-left: 0;
	right: 10px;
	top: 15px;
}

.orders-wrap a {
	font-size: 16px;
	color: #32425C;
	line-height: 18px;
	text-decoration: underline;
}

.orders-wrap {
	padding-left: 18px;
	margin-top: 4px;
	position: relative;
}

.cabinet {
	margin-left: 27px;
}

.orders-wrap:before {
	position: absolute;
	content: "·";
	font-size: 32px;
	left: 106px;
	top: 2px;
}

.username:hover svg path {
	fill: #32425C
}

.username:active {
	opacity: 0.3
}

.logout:hover svg path {
	fill: #32425C
}

.logout:active svg path {
	fill: #c5c5c5
}

.orders:hover,
.cabinet:hover {
	color: #EE3643
}

.orders:active,
.cabinet:active {
	opacity: 0.3;
	color: #32425c
}


/* конец шапки */


/* Начало блока с карточками и слайдером */

.cards-slider {
	padding-top: 59px;
	padding-bottom: 33px
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px
}

.right-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.card {
	width: 300px;
	min-height: 123px;
	padding-left: 22px;
	padding-top: 20px;
	padding-bottom: 22px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.card h3 {
	font-family: 'Cuprum Bold', Arial, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 30px;
	padding: 0;
	margin: 0
}

.card a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 135px;
	height: 38px;
	margin-top: 13px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
}

.card a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.card a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.card-material {
	background-color: #FFBF47;
	position: relative;
}

.card-material:after {
	content: "";
	width: 60px;
	height: 59px;
	position: absolute;
	right: 0;
	top: 0;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.card-material:before {
	content: "";
	width: 44px;
	height: 65px;
	position: absolute;
	right: 43px;
	top: 31px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.card-tools {
	background-color: #3BBCE3;
	position: relative;
}

.card-tools:after {
	content: "";
	width: 75px;
	height: 61px;
	position: absolute;
	right: 28px;
	top: 33px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.card-tech {
	background-color: #DC91D8;
	position: relative;
}

.card-tech:after {
	content: "";
	width: 78px;
	height: 62px;
	position: absolute;
	right: 31px;
	top: 31px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.card-discount {
	background-color: #8ED78F;
	position: relative;
}

.card-discount:after {
	content: "";
	width: 59px;
	height: 72px;
	position: absolute;
	right: 45px;
	top: 26px;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.card-delivery {
	background-color: #FFC047;
	margin-top: 20px;
	position: relative;
}

.card-delivery:after {
	content: "";
	width: 78px;
	height: 63px;
	position: absolute;
	right: 31px;
	top: 32px;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider {
	width: 620px;
	height: 266px;
	position: relative;
}

.slider h3 {
	font-size: 36px;
	color: #FFFFFF;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.slider p {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.slider a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 195px;
	height: 38px;
	margin-top: 123px;
	background-color: #EE3643;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
}

.slider a:hover,
.header-button-wrap a:hover,
.tabs-item a:hover {
	background: #CA2C37
}

.slider a:active,
.header-button-wrap a:active,
.tabs-item a:active {
	background: #BA2732
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-item:nth-child(2) {
	display: none;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.slider-item {
	display: none;
	height: 266px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 23px;
	padding-left: 25px;
	padding-bottom: 22px
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 36px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	margin-right: -10px;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: top;
}

.slider-controls label::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	width: 10px;
	height: 10px;
	background: #ffffff;
	border-radius: 50%;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 6px;
	height: 6px;
	margin: -7px;
	background-color: #EE3643;
	border-radius: 50%;
}

.slider-arrows {
	position: absolute;
	left: 25px;
	bottom: 112px;
	z-index: 100;
	width: 575px;
	height: 40px;
	font-size: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.slider-arrows label {
	content: "";
	width: 22px;
	height: 40px;
	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.slider-arrows label:nth-child(2) {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}


/* конец блока с карточками и слайдером */


/* начало блока популярные товары */

.header-button-wrap {
	height: 89px;
	background-color: #F9F5F0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px
}

.header-button-wrap h2 {
	text-transform: uppercase;
	color: #32425C;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	padding-left: 28px;
}

.header-button-wrap a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 253px;
	height: 38px;
	background-color: #EE3643;
	border-radius: 2px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 24px;
}

.popular-goods-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.popular-goods-wrap div:nth-child(4):after {
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
}


/* конец блока популярные товары */


/* начало блока популярные производители */

.producers-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 63px;
}

.producers-item {
	border: 1px solid #EAEAEA;
	width: 220px;
	height: 145px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.producers-item:hover {
	-webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.50);
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.50);
}

.producers-item:active {
	-webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.50);
	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.50);
	opacity: 0.3
}


/* конец блока популярные производители */


/* Начало блока Сервисы */

.services-wrap {
	width: 100%;
	background-color: #F4F8F9;
	padding-top: 40px;
	padding-bottom: 78px;
}

.services-wrap h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.services-wrap p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}

.services-wrap h3 {
	font-size: 36px;
	color: #32425C;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 26px;
	font-weight: 400;
}

.tabs-item a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 195px;
	height: 38px;
	margin-top: 31px;
	background-color: #EE3643;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
}

.tabs {
	margin-top: 70px;
}

.tabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 206px;
}

.tabs-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tabs-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 240px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.tabs-controls:after {
	content: "";
	position: absolute;
	right: 0;
	top: -48px;
	width: 10px;
	height: 279px;
	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.tabs-controls label {
	padding-left: 22px;
	padding-top: 13px;
	padding-bottom: 19px;
	background: #32425C;
	-webkit-box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
	box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
	font-size: 22px;
	color: #FFFFFF;
	line-height: 30px;
}

.tab-item-1:after {
	content: "";
	position: absolute;
	left: 151px;
	top: 22px;
	width: 468px;
	height: 261px;
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	z-index: -1;
}

.tab-item-2:after {
	content: "";
	position: absolute;
	left: 239px;
	top: 0;
	width: 468px;
	height: 261px;
	background-image: url("../img/guarantee.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	z-index: -1;
}

.tab-item-3:after {
	content: "";
	position: absolute;
	left: 165px;
	top: 0px;
	width: 468px;
	height: 261px;
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	z-index: -1;
}

.tabs-list .tabs-item {
	display: none;
	position: relative;
	z-index: 1;
}

.tabs ul {
	margin-left: 80px;
	width: 313px
}

.tabs-wrap .tabs-list .tabs-item:nth-child(3) {
	margin-top: -9px;
}

#tab-1:checked~.tabs-wrap .tabs-list .tabs-item:nth-child(1) {
	display: block;
}

#tab-2:checked~.tabs-wrap .tabs-list .tabs-item:nth-child(2) {
	display: block;
}

#tab-3:checked~.tabs-wrap .tabs-list .tabs-item:nth-child(3) {
	display: block;
}

#tab-1:checked~.tabs-wrap .tabs-controls .tabs-controls-item-1,
#tab-2:checked~.tabs-wrap .tabs-controls .tabs-controls-item-2,
#tab-3:checked~.tabs-wrap .tabs-controls .tabs-controls-item-3 {
	color: #32425C;
	background: #FFFFFF;
	-webkit-box-shadow: 0 1px 0 0 #FFFFFF;
	box-shadow: 0 1px 0 0 #FFFFFF;
}

.tabs-controls label:hover {
	background: #293449
}


/* Конец блока сервисы */


/* начало секции о компании */

.company-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 516px;
	padding-bottom: 20px
}

.about-us {
	width: 540px;
	margin-top: 54px
}

.about-us h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.about-us p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-us p:nth-child(3) {
	margin-top: 27px
}

.about-us ul {
	margin: 0;
	margin-top: 18px;
	padding-left: 0;
}

.about-us li {
	font-size: 18px;
	line-height: 19px;
	list-style-type: none;
	padding-bottom: 22px;
	padding-left: 36px;
	position: relative;
}

.about-us li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	width: 25px;
	height: 2px;
	background-color: #EE3643;
}

.button-about-us {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: white;
	background-color: #EE3643;
	padding-left: 40px;
	padding-top: 11px;
	padding-right: 40px;
	padding-bottom: 11px;
	border-radius: 3px;
	margin-top: 12px;
	vertical-align: top;
}

.button-about-us:hover {
	background-color: #CA2C37;
}

.button-about-us:active {
	background-color: #BA2732;
}


/* конец секции о компании */


/* начало секции контакты */

.contacts {
	width: 300px;
	margin-left: auto;
	margin-top: 56px
}

.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.contacts p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.contacts-button {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	background-color: #EE3643;
	width: 276px;
	padding-left: 12px;
	padding-top: 11px;
	padding-right: 12px;
	padding-bottom: 11px;
	border-radius: 3px;
	vertical-align: top;
}

.contacts-button:hover {
	background-color: #CA2C37;
}

.contacts-button:active {
	background-color: #BA2732;
}

.map-img {
	display: block;
	width: 300px;
	height: 158px;
	margin-top: 30px;
	margin-bottom: 38px;
}


/* конец секции контакты */


/* начало футера */

.footer-top ul,
.footer-bottom ul {
	margin: 0;
	padding: 0;
}

.footer-top-wrap {
	background-color: #32425C;
	width: 100%;
	padding-bottom: 32px
}

.footer-top-upper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.logo-footer {
	background-color: #EE3643;
	padding-left: 40px;
	padding-top: 19px;
	padding-right: 40px;
	padding-bottom: 19px;
	width: 138px;
	height: 23px;
	-webkit-box-shadow: 0 5px 0 rgb(181, 41, 51);
	box-shadow: 0 5px 0 rgb(181, 41, 51);
}

.logo-footer:hover {
	background-color: #CA2C37;
	-webkit-box-shadow: 0 5px 0 #992129;
	box-shadow: 0 5px 0 #992129;
}

.logo-footer:active {
	background-color: #BA2732;
	-webkit-box-shadow: 0 5px 0 #8D1D26;
	box-shadow: 0 5px 0 #8D1D26;
}

.footer-top-below {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-address {
	font-size: 18px;
	color: #F3F7F9;
	line-height: 24px;
	width: 380px;
	margin-top: 34px;
}

.footer-sections {
	width: 524px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-nav,
.footer-sections {
	font-size: 18px;
	line-height: 24px;
	list-style-type: none;
}

.footer-nav-wrap {
	margin-left: 176px
}

.footer-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 550px;
}

.footer-nav a:hover,
.footer-sections a:hover {
	text-decoration: underline;
}

.footer-nav a:active,
.footer-sections a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav a {
	color: #F1F5F7;
	display: block;
	margin-top: 38px;
}

.footer-sections a {
	color: #FFD180;
	display: block;
	margin-top: 34px;
}

.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.footer-bottom-wrap {
	background-color: #293449;
	width: 100%;
	min-height: 107px
}

.footer-copyright {
	width: 300px;
	margin-right: 72px;
	margin-top: 35px
}

.social {
	width: 168px;
	margin-right: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 34px
}

.social ul {
	width: 168px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 17px;
	margin-right: 17px;
}

.social a {
	width: 44px;
	height: 44px;
	background-color: #212A3A;
	border-radius: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.feedback-and-development {
	width: 300px;
	margin-left: auto;
	margin-top: 36px
}

.feedback-and-development p {
	padding: 0;
	margin: 0
}

.feedback-and-development {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.wrap-develop {
	margin-right: 13px
}

.footer-copyright,
.footer-feedback,
.footer-development {
	font-size: 16px;
	color: #FFFFFF;
	line-height: 18px;
}

.social li {
	list-style-type: none;
}

.social a {
	color: #FFFFFF;
}

.social li a:hover {
	background-color: #EE3643
}

.social li a:active {
	background-color: #EE3643
}

.mail {
	color: #FFD180
}

.academy {
	color: #FFD180;
	font-size: 16px;
	line-height: 18px;
}

.mail:hover,
.academy:hover {
	text-decoration: underline;
}

.mail:active,
.academy:active {
	color: #EE3643;
	text-decoration: none;
}


/* конец футера */


/* страница с товарам */

.button-send-wrap button:hover,
.buttons-wrap a:nth-child(1):hover {
	background-color: #CA2C37;
}

.button-send-wrap button:active,
.buttons-wrap a:nth-child(1):active {
	background-color: #BA2732;
}

.catalog-nav ul,
.sidebar ul {
	margin: 0;
	padding: 0;
}

.content-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.sidebar {
	width: 220px;
}

.content {
	width: 700px
}

.catalog-nav {
	padding-top: 22px;
	padding-bottom: 18px;
}

.catalog-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-nav li {
	list-style-type: none;
}

.home {
	background-color: transparent;
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 12px;
	display: inline-block;
	margin-left: -2px;
	margin-top: 4px;
	vertical-align: top;
}

.icon-right {
	background-color: transparent;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 8px;
	height: 12px;
	margin-left: 15px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	position: relative;
	top: 6px
}

.filter,
.sort {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 300;
}

.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #F7F3EC;
	margin-bottom: 20px;
	margin-top: 20px;
	min-height: 26px;
	padding-top: 12px;
}

.sort-name {
	margin: 0;
	width: 220px;
	padding-left: 19px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sort-options {
	margin: 0;
	width: 380px;
}

.sort-options a {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.3);
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	position: relative;
}

.sort-options a:after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	border-top: #EE363F 1px dotted;
	bottom: 0;
	left: 0;
}

.sort-options a:hover {
	color: black
}

.sort-options a:hover:after {
	border-top: #EE363F 1px solid;
}

.sort-options a:active {
	color: #EE3643
}

.sort-options a:active:after {
	border: none;
}

.controls svg g:hover {
	fill: black
}

.controls svg g:active {
	fill: #EE3643
}

.by-type {
	margin-left: 67px;
}

.by-func {
	margin-left: 62px;
}

.controls {
	width: 60px
}

.controls a:nth-child(2) {
	margin-left: 20px;
}

.controls a {
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #F7F3EC;
	margin-bottom: 7px;
	margin-top: 20px;
	min-height: 26px;
	padding-top: 12px;
}

.filter p {
	margin: 0;
	margin-left: 18px;
}

.price {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 17px;
	color: #000000;
	letter-spacing: 0;
	line-height: 30px;
}

.price-title {
	font-family: "PT sans Bold", Arial, sans-serif;
	text-transform: uppercase;
	margin: 0;
}

.price-numbers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 11px;
}

.filter-interface {
	height: 80px;
	background: #F7F3EC;
	margin-top: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.filter-strip {
	width: 180px;
	height: 2px;
	background-color: #D7DCDE;
	position: relative;
}

.filter-strip:before {
	content: "";
	position: absolute;
	left: 0;
	top: -11px;
	width: 20px;
	height: 22px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.filter-strip:after {
	content: "";
	position: absolute;
	right: 20px;
	top: -11px;
	width: 20px;
	height: 22px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.filter-strip-green {
	width: 150px;
	height: 2px;
	background-color: #00CA74;
}

.price-numbers p {
	margin: 0;
}

.price-numbers p:first-child,
.price-numbers p:last-child {
	width: 95px;
	background: #F7F3EC;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 38px;
}

.price-numbers p:nth-child(2) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 38px;
}

.check_box {
	background-color: transparent;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 23px;
	height: 23px;
	position: absolute;
	margin-left: -32px;
	top: 0
}

.visually-hidden:checked+.check_box {
	background-image: url("../img/checkbox-on.svg");
	width: 27px;
	height: 23px;
}

.producers label {
	padding-left: 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 25px;
	margin-bottom: 16px;
	position: relative;
}

.power label:hover .radio-button {
	background-image: url("../img/radio-off-hov.png");
}

.power label:hover .visually-hidden:checked+.radio-button {
	background-image: url("../img/radio-on-hov.png");
}

.power label .visually-hidden:disabled+.radio-button {
	opacity: 0.3;
}

.power label .visually-hidden:disabled~.power-label-name {
	opacity: 0.4;
}

.power label .visually-hidden:checked:disabled+.radio-button {
	opacity: 0.3;
}

.power label .visually-hidden:checked:disabled~.power-label-name {
	opacity: 0.4;
}

.producers label:hover .check_box {
	background-image: url("../img/checkbox-off-hov.png");
}

.producers label:hover .visually-hidden:checked+.check_box {
	background-image: url("../img/checkbox-on-hov.png");
}

.producers label .visually-hidden:checked:disabled+.check_box {
	opacity: 0.3;
}

.producers label .visually-hidden:checked:disabled~.label-name {
	opacity: 0.4;
}

.producers label .visually-hidden:disabled+.check_box {
	opacity: 0.3;
}

.producers label .visually-hidden:disabled~.label-name {
	opacity: 0.4;
}

.radio-button {
	background-color: transparent;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 25px;
	height: 25px;
	position: absolute;
	margin-left: -32px;
	top: -2px
}

.visually-hidden:checked+.radio-button {
	background-image: url("../img/radio-on.svg");
}

.power label {
	padding-left: 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 25px;
	margin-bottom: 16px;
	position: relative;
}

.catalog-nav a {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000
}

.perfo-h2 {
	height: 89px;
	background-color: #F2F6F8;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.perforators h2 {
	text-transform: uppercase;
	color: #32425C;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	padding-left: 28px;
}

.sidebar .sidebar-form p {
	border-top: 1px solid #E5E5E5;
	text-transform: uppercase;
	font-family: "PT sans Bold", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	padding: 18px 0 0 0;
	margin: 21px 0 13px 0;
}

.sidebar li {
	text-transform: uppercase;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 19px;
	list-style-type: none;
}

.sidebar button {
	text-transform: uppercase;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	line-height: 18px;
	border: 1px solid #E5E5E5;
	padding-left: 37px;
	padding-top: 12px;
	padding-right: 40px;
	padding-bottom: 6px;
	margin-top: 57px;
	background-color: transparent;
}

.perfo-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
}

.perfo-card {
	border: 1px solid #EAEAEA;
	text-align: center;
	width: 220px;
	margin-bottom: 20px;
	min-height: 315px;
	position: relative;
}

.perfo-card:hover {
	-webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.50);
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.50);
}

.perfo-card img {
	margin-right: 16px;
}

.perfo-card-popup {
	height: 163px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.perfo-card-popup div {
	display: none
}

.perfo-card:hover .perfo-card-popup div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 120px;
	padding-top: 43px;
}

.perfo-card .bookmark {
	color: #32425C;
	border: 3px solid #63A63E;
	border-radius: 2px;
	background-color: white;
	width: 129px;
	height: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center
}

.perfo-card .cart {
	margin-bottom: 10px;
	background-color: #63A63E;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 -3px 0 0 #367315;
	box-shadow: inset 0 -3px 0 0 #367315;
	color: white;
	position: relative;
	border: none;
}

.perfo-card .cart:before {
	position: absolute;
	left: 14px;
	width: 15px;
	height: 15px;
	opacity: 0.3;
	content: "";
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.perfo-card .cart {
	width: 135px;
	height: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center
}

.perfo-card-popup .cart:hover::before {
	opacity: 1
}

.perfo-card-popup .cart:hover {
	background: #5FBB2D;
	-webkit-box-shadow: inset 0 -3px 0 0 #367315;
	box-shadow: inset 0 -3px 0 0 #367315;
}

.perfo-card-popup .cart:active {
	background: #518534;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.perfo-card-popup .bookmark:hover {
	border: 3px solid #32425C;
	color: #32425C;
}

.perfo-card-popup .bookmark:active {
	opacity: 0.3
}

.perfo-card-info {
	min-height: 116px;
	position: relative;
}

.perfo-card:hover .perfo-card-popup img {
	display: none;
}

.perfo-card-info p:first-child {
	font-family: "PT sans Bold", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	padding-left: 28px;
	padding-right: 28px;
	margin-bottom: 9px;
	max-height: 40px;
	overflow: hidden;
}

.perfo-card-info p:last-child {
	font-family: "PT sans Bold", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	position: absolute;
	bottom: -16px;
	padding: 12px 39px 10px 37px;
	left: 42px;
	background-image: url("../img/red-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.perfo-card-info s {
	font-family: "PT sans Bold", Arial, sans-serif;
	font-size: 17px;
	color: #999999;
	line-height: 18px;
	display: block;
	margin-top: 4px;
}

.perfo-list div:nth-child(3):after {
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
}

.perfo-list div:nth-child(5):after {
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
}

.perfo-list div:nth-child(7):after {
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
}

.pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 31px;
	margin-bottom: 61px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	line-height: 18px;
}

.pages a {
	color: black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.pages a:hover {
	border-color: #BDC6CA
}

.pages a:active {
	border-color: #EE3643
}

.pages li {
	margin-right: 12px;
}

.pages li:last-child a {
	width: 140px;
	text-transform: uppercase;
}

.pages li:first-child a {
	color: white;
	background: #EE3643;
	border: none;
}


/* Конец страницы с товарами */


/*  Пара слов о перфораторах начало */

.about-perfo h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin: 0;
}

.about-perfo p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	margin-top: 26px;
}

.about-perfo {
	width: 100%;
	background: #F2F6F8;
	padding-top: 64px;
	padding-bottom: 69px;
}


/*  Пара слов о перфораторах конец */


/* Всплывающая форма */

.form-hide {
	display: none;
}

.form-show {
	display: block;
}

.popup-form {
	width: 620px;
	min-height: 430px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	position: fixed;
	top: 220px;
	left: 50%;
	background: white;
	margin-left: -310px;
	z-index: 100
}

.popup-form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
	position: relative;
}

.popup-form-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 30px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 52px;
}

.popup-form-wrap label:nth-child(1) {
	width: 220px;
	display: inline-block;
	vertical-align: top;
}

.popup-form-wrap label:nth-child(2) {
	width: 220px;
	display: inline-block;
	margin-left: auto;
	vertical-align: top;
}

.popup-form-wrap label:nth-child(3) {
	width: 460px;
	display: block;
	margin-top: 17px;
}

.popup-form-wrap .name input,
.popup-form-wrap .e-mail input {
	width: 214px;
	height: 33px;
	margin-top: 6px;
}

.popup-form-wrap .text_letter textarea {
	width: 455px;
	min-height: 107px;
	margin-top: 7px;
}

.button-send-wrap {
	background-color: #F4F4F4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	width: 620px;
	height: 112px
}

.button-send-wrap button {
	background: #EE3643;
	width: 460px;
	height: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
}

.popup-form input,
.popup-form textarea {
	border: 2px solid #DEE3E4;
	border-radius: 2px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	color: #A9A9A9;
	line-height: 18px;
}

.popup-form input {
	padding-left: 14px;
}

.text_letter textarea {
	padding-left: 13px;
	padding-top: 11px;
	resize: none;
}

.popup-form form::before {
	width: 620px;
	height: 7px;
	content: "";
	position: absolute;
	background-color: #FF5257;
	top: 0
}

.close-form {
	width: 21px;
	height: 21px;
	background-color: transparent;
	z-index: 3;
	content: "";
	position: absolute;
	background-image: url("../img/icon-close.svg");
	top: 17px;
	right: 10px;
	border: none;
	font-size: 0;
}


/* Карта */

.popup-map {
	position: fixed;
	width: 940px;
	height: 449px;
	z-index: 100;
	-webkit-box-shadow: 0 0 14px 1px rgba(47, 42, 43, 0.50);
	box-shadow: 0 0 14px 1px rgba(47, 42, 43, 0.50);
	top: 220px;
	left: 50%;
	margin-left: -470px;
	background-color: #F4F2ED
}


/* Конец карты */


/* Товар в корзине */

.popup-cart {
	width: 620px;
	min-height: 282px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	position: fixed;
	top: 220px;
	left: 50%;
	background: white;
	margin-left: -310px;
	z-index: 100;
}

.buttons-wrap {
	background-color: #F4F4F4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	width: 620px;
	height: 112px;
	padding-left: 80px;
	padding-right: 80px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.popup-cart p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: center;
	width: 620px;
	height: 170px;
	margin: 0;
	padding-left: 179px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	font-size: 30px;
	color: #000000;
	line-height: 30px;
}

.buttons-wrap a:nth-child(1) {
	background: #EE3643;
	width: 220px;
	height: 38px;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.buttons-wrap a:nth-child(2) {
	width: 220px;
	height: 38px;
	margin-left: auto;
	background: white;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.popup-cart {
	-webkit-box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
	box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.popup-cart::before {
	width: 620px;
	height: 7px;
	content: "";
	position: absolute;
	background-color: #FF5257;
	top: 0
}

.popup-cart p:before {
	width: 66px;
	height: 66px;
	content: "";
	position: absolute;
	background-image: url("../img/icon-mark.svg");
	top: 54px;
	left: 81px;
}