body {
	margin: 0px;
	padding: 0px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 24px;
	background-color: white;
	font-weight: 400
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none
}

img {
  max-width: 100%;
  height: auto;
}

/* начало шапки */
.header-top {
	line-height: 18px;
	color: white;

	display: flex;
	min-height: 42px;

	position: relative;
}

.header-top-wrap {
	background-color: #293449;
	width: 100%
}

.container {
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.header-top a {
	color:white;
	padding-top: 12px;
}

.header-button {
	background-color: #63A63E;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 12px;
	text-align: center
	}

.header-button:hover {
	background-color: #5FBB2D
	}

.header-button:active {
	background-color: #518534;
	color: rgba(255,255,255,0.5);
}	

.logo {
	background-color: #EE3643;
	
	padding-left: 55px;
	padding-top: 12px;
	padding-right: 57px;
	padding-bottom: 12px;

	width: 108px;
	height: 18px;
}

.logo:hover {
	background-color: #CA2C37;
}

.logo:active {
	background-color: #BA2732;
}

.search {
	width: 270px;
}

.search:hover,
.bookmark:hover,
.cart:hover {
	background-color: #212A3A
}

.bookmark:active,
.cart:active {
	background-color: #161D29;
	color: rgba(255,255,255,0.6);
}

.bookmark {
	padding-left: 44px;
	padding-right: 27px;

	position: relative;
}

.bookmark:before {
	position: absolute;
	left: 15px;
	width: 17px;
	height: 17px;

	content: "";

	background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3
}

.cart {
	padding-left: 50px;
	padding-right: 29px;
	position: relative;
}

.cart:before {
	position: absolute;
	left: 18px;
	width: 15px;
	height: 15px;

	content: "";

	background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3
}



.search input{
	background-color: transparent;
	border: none;
}

.header-bottom {
	background-color: #F4F7F8;
	padding-bottom: 60px
}

.upper-bottom {
	display: flex;
	justify-content: space-between;
	min-height: 158px;
}

.header-bottom h1 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: 400;
	color: #EE3643;

	width: 235px;
	padding-left: 50px;
	margin-top: 46px;
}

.header-bottom-contacts {
    width: 300px;
    margin-top: 44px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    width: 280px;
    display: flex;
    padding-left: 19px;
    justify-content: space-between;
    margin-top: 57px;
    margin-left: 20px;
}

.login-in {
	padding-left: 48px;
	padding-top: 11px;
	padding-right: 24px;
	padding-bottom: 13px;

	position: relative;
}

.registration {
	margin-left: 10px;

	padding-top: 11px;
	padding-bottom: 13px;
	padding-left: 25px;
	padding-right: 25px
}

.header-phone {
    position: relative;

    color: #EE3643;
    font-size: 21px;
    line-height: 21px;
    
    border: 3px solid white;
    
    padding-left: 74px;
    padding-top: 9px;
    padding-right: 44px;
    padding-bottom: 7px;
}

.header-phone:before {
	position: absolute;
	left: 15px;
	width: 19px;
	height: 19px;

	content: "";

	background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-adress {
	color:#32425C;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin: 0px;
}

.login a {
	background-color: white;
	font-size: 21px;
	line-height: 21px;
	color: black
}

.login a:hover {
	color: #EE3643
}

.login a:active {
	color: rgba(0,0,0,0.3);
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 33px 0px 33px;
    padding: 0px;
}

.login li,
.site-nav li {
	list-style-type: none;
}

.site-nav-wrap {
	background-color: #32425C;
	width: 100%
}

.site-nav a {
	font-size: 17px;
	line-height: 17px;
	color: white;

	display: block;
  	padding: 20px 19px;

  	vertical-align: middle;
}

.site-nav a:hover {
	background-color: #293449;
}

.site-nav a:active {
	background-color: #1D2739;
	color: rgba(255,255,255,0.5);
}
/* конец шапки */

/* начало секции о компании */
.company-wrap {
	display: flex;
	min-height: 536px;
}

.about-us {
	width: 540px;
	margin-top: 54px
}

.about-us h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.about-us p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-us p:nth-child(3){
	margin-top: 27px
}

.about-us ul {
    margin: 0px;
    margin-top: 18px;
    padding-left: 0px;
}

.about-us li {
    font-size: 18px;
    line-height: 19px;
    list-style-type: none;
    padding-bottom: 22px;
    padding-left: 36px;
}
.button-about-us {
    display: inline-block;
    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    
    background-color: #EE3643;
    
    padding-left: 40px;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    border-radius: 3px;
    margin-top: 12px;
}

.button-about-us:hover {
	background-color: #CA2C37;
}

.button-about-us:active {
	background-color: #BA2732;
}

/* конец секции о компании */

/* начало секции контакты */
.contacts {
	width: 300px;
	margin-left: auto;
	margin-top: 56px
}

.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.contacts p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.contacts-button {
    display: inline-block;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
	text-align: center;

    background-color: #EE3643;

    width: 276px;
    padding-left: 12px;
    padding-top: 13px;
    padding-right: 12px;
    padding-bottom: 13px;
    border-radius: 3px;
}

.contacts-button:hover {
	background-color: #CA2C37;
}

.contacts-button:active {
	background-color: #BA2732;
}

.yandex-map {
	display: block;
}
/* конец секции контакты */

/* начало футера */
.footer-top ul,
.footer-bottom ul {
	margin: 0px;
	padding: 0px;
}

.footer-top-wrap {
	background-color:#32425C;
	width: 100%;
	padding-bottom: 32px
}

.footer-top-upper {
	display: flex
}

.logo-footer {
	background-color: #EE3643;
	
	padding-left: 40px;
	padding-top: 19px;
	padding-right: 40px;
	padding-bottom: 19px;

	width: 138px;
	height: 23px;
}

.logo-footer:hover {
	background-color: #CA2C37;
}

.logo-footer:active {
	background-color: #BA2732;
}

.footer-top-below {
	display: flex;
	justify-content: space-between;
}

.footer-adress {
    font-size: 18px;
    color: #F3F7F9;
    line-height: 24px;
    width: 380px;
    margin-top: 34px;
}

.footer-sections {
    width: 524px;
    display: flex;
    justify-content: space-between;
}

.footer-nav,
.footer-sections {
	font-size: 18px;
	line-height: 24px;
	list-style-type: none;
}

.footer-nav-wrap {
	margin-left: 176px
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.footer-nav a:hover,
.footer-sections a:hover {
	text-decoration: underline;
}

.footer-nav a:active,
.footer-sections a:active {
	opacity: 0.5;
}

.footer-nav a {
    color: #F1F5F7;
    display: block;
    margin-top: 38px;
}

.footer-sections a {
    color: #FFD180;
    display: block;
    margin-top: 34px;
}

.footer-bottom {
	display: flex
}

.footer-bottom-wrap {
	background-color:#293449;
	width: 100%;
	min-height: 107px
}

.footer-copyright {
	width: 300px;
	margin-right: 72px;
	margin-top: 35px
}

.social {
	width: 168px;
	margin-right: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 34px
}

.social ul {
    width: 168px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 17px;
    margin-right: 17px;
}

.social a {
	width: 44px;
	height: 44px;
	background-color: #212A3A;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feedback-and-development {
	width: 300px;
	margin-left: auto;
	margin-top: 36px
}

.feedback-and-development p {
	padding: 0;
	margin: 0
}

.feedback-and-development{
	display: flex;
	justify-content: space-between;
}

.wrap-develop {
	margin-right: 13px
}

.footer-copyright,
.footer-feedback,
.footer-development{ 
	font-size: 16px;
	color: #FFFFFF;
	line-height: 18px;
}

.social li {
	list-style-type: none;
}

.social a {
	color: #FFFFFF;
}

.mail {
	color: #FFD180
}

.academy {
	color: #FFD180;
	font-size: 16px;
	line-height: 18px;
}

.mail:hover,
.academy:hover {
text-decoration: underline;
}

.mail:active,
.academy:active {
color: #EE3643;
}
/* конец футера */

.popup-map,
.popup-form,
.popup-cart {
	display: none
}

/* страница с товарам */
.catalog-nav ul,
.sidebar ul {
	margin: 0;
	padding: 0;
}			

.content-wrap {
	display: flex;
	justify-content: space-between;
}

.sidebar {
	width: 220px;
}

.content {
	width: 700px
}

.catalog-nav li {
	list-style-type: none;
}

.catalog-nav a {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000
}

.perfo-h1 {
	height: 89px;
	background-color: #F2F6F8;
	display: flex;
    align-items: center;
}

.perforators h1 {
	text-transform: uppercase;
	color: #32425C;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	padding-left: 28px;
}

.sidebar p {
	border-top: 1px solid #E5E5E5;
	text-transform: uppercase;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700
}

.sidebar li {
	text-transform: uppercase;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 19px;
	list-style-type: none;
}

.sidebar button {
	text-transform: uppercase;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	line-height: 18px;
	border: 1px solid #E5E5E5;
	padding-left: 40px;
	padding-top:13px;
	padding-right:40px;
	padding-bottom:13px;
}

.perfo-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.perfo-card {
	border: 1px solid #EAEAEA;
	text-align: center;
	width: 220px;
	margin-bottom: 20px;
}
 
.perfo-card-popup div {
	display: none
}

.perfo-card-info p:first-child {
font-family: "PT sans", Arial, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 20px;
}

.perfo-card-info p:last-child {
font-family: "PT sans", Arial, sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 18px;
background-color:#EE3643;
color:#FFFFFF;
}

.perfo-card-info s {
font-family: "PT sans", Arial, sans-serif;
font-size: 17px;
color: #999999;
line-height: 18px;
font-weight: 700;
}

